body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 50px;
}
.signBit { 
  color: red; 
}
.exponentBits {
  color: green; 
}
.mantissaBits {
color: blue; 
}
.container {
  display: flex; /* Enables Flexbox */
  flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
  align-items: center;
  height: 100vh; /* Full viewport height */
  gap: 1px; /* Optional: Adds space between flex items */
}
.header{
  width:100%;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.item {
  flex-basis: calc(33.333% - 20px); /* Sets the base size of each item to a third of the container width, minus the total horizontal gap */
  /* Other styling for your items */
  text-align: center;
  padding: 10px;
}


