body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 50px;
  }
.signBit { 
    color: red; 
  }
.exponentBits {
    color: green; 
  }
.mantissaBits {
  color: blue; 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Creates three columns */
  grid-template-rows: auto; /* Rows are set to automatically adjust to content */
  gap: 10px; /* Spacing between grid items */
}


  