body {
  /*making a grid background*/
  /*defines grid size*/
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, rgb(247, 247, 247) 1px, transparent 12px),
    linear-gradient(to bottom, rgb(247, 247, 247) 1px, transparent 12px);
  /*first gradient creates vertical lines and second creates horizontal*/
  background-color: #ffffff ;
  font-family: 'Montserrat',sans-serif;
}
.signBit { 
  color: red; 
}
.exponentBits {
  color: green; 
}
.mantissaBits {
color: blue; 
}
.container {
  display: flex; /* Enables Flexbox */
  flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
  align-items: flex-start; 
  height: 50vh; /* Full viewport height */
  gap: 1px; /* Adds space between flex items */
  /*font-family: "Montserrat", sans-serif;*/
}

.light_header {
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px; 
  color: #000; 
  background: #cecece; 
  padding: 6px 12px; 
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*for box shadow*/
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
  display: inline-block; /* Only apply background and padding to the text */
  margin: 0; 
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  position: center;
}

.h1{
  font-weight: 700;
}

.p {
  font-weight: 400;
}

/*button for converting and selecting different floating types*/
.grey_button {
  background: #333;
  color: #fff;
  font-size: 16;
  padding: 10px 20px;
  border: none;
  border-radius: 15px; /* rounds the edges*/
  cursor: pointer;
  transition: background 0.3s;
}

.grey_button:hover{
  background: #0056b3;
}
.grey_button:active{
  background: #0056b3;
}

.button_title {
  margin-bottom: 3px;  
  color: #333;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.item {
  flex-basis: calc(33.333% - 20px); /* Sets the base size of each item to a third of the container width, minus the total horizontal gap */
  /* Other styling for your items */
  text-align: flex-start;
  padding: 10px;
}

.input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: center;
}

.output {
  background: #f0f0f0;
  border: 1px solid #ccc;
}

.grey_bar_wrapper {
  width: 85%; 
  padding: 10px; /* This acts as the transparent area around the child */
  background-color: transparent; /* Ensures the "padding" area is transparent */
}

.grey_bar {
  height: 14px; 
  background-color: grey; /* Main content area color */
  width: 100%; /* Makes the child fill the parent */
}
